@using Todo.Controllers
@using Todo.Data.Entities
@using Todo.Services
@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">

    <ul class="list-group">

        <li class="list-group-item">
            <a asp-action="Create" asp-controller="TodoItem" asp-route-todoListId="@Model.TodoListId">
                <strong>Add New Item</strong>
            </a>
        </li>

        @foreach (var item in Model.Items)
        {
            string contextualClass;
            switch (item.Importance)
            {
                case Importance.High:
                    contextualClass = item.IsDone ? "list-group-item-danger list-group-item-done" : "list-group-item-danger";
                    break;
                case Importance.Low:
                    contextualClass = item.IsDone ? "list-group-item-info list-group-item-done" : "list-group-item-info";
                    break;
                default:
                    contextualClass = item.IsDone ? "list-group-item-done" : "";
                    break;
            }

            <li class="list-group-item @contextualClass">
                
                <div class="row">

                <div class="col-md-6">
                    <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

                        @if (item.IsDone)
                        {
                            <s>@item.Title</s>
                        }
                        else
                        {
                            <text>@item.Title</text>
                        }
                    </a>
                </div>

                <div class="col-md-2">
                    Rank: @item.Rank
                </div>

                <div class="col-md-4 text-right">
                    <small>
                        @item.ResponsibleParty.UserName

                        <img src="https://www.gravatar.com/avatar/@Gravatar.GetHash(item.ResponsibleParty.Email)?s=30"/>

                    </small>
                </div>
                </div>

            </li>
        }
    </ul>
    <input type="checkbox" id="showHideDoneItems">
    <label for="showHideDoneItems">Hide items marked as done</label><br>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#showHideDoneItems").change(showHideDoneItems);
        });

        function showHideDoneItems() {
            if (this.checked == true) {
                $(".list-group-item-done").hide();
            } else {
                $(".list-group-item-done").show();
            }
        }
    </script>
}