@using Todo.Controllers
@using Todo.Data.Entities
@using Todo.Services
@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">

    <input type="checkbox" id="showHideDoneItems">
    <label for="showHideDoneItems">Hide items marked as done</label>
    &nbsp;
    <input type="checkbox" id="sortItemsByRank">
    <label for="sortItemsByRank">Sort items by rank</label>
    <br />

    <ul id="itemList" class="list-group">

        <li class="list-group-item">
            <a asp-action="Create" asp-controller="TodoItem" asp-route-todoListId="@Model.TodoListId">
                <strong>Add New Item</strong>
            </a>
        </li>

        @foreach (var item in Model.Items)
        {
            string contextualClass;
            switch (item.Importance)
            {
                case Importance.High:
                    contextualClass = item.IsDone ? "list-group-item-danger list-group-item-done" : "list-group-item-danger";
                    break;
                case Importance.Low:
                    contextualClass = item.IsDone ? "list-group-item-info list-group-item-done" : "list-group-item-info";
                    break;
                default:
                    contextualClass = item.IsDone ? "list-group-item-done" : "";
                    break;
            }

            <li class="list-group-item @contextualClass" data-rank="@item.Rank">

                <div class="row">

                <div class="col-md-6">
                    <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

                        @if (item.IsDone)
                        {
                            <s>@item.Title</s>
                        }
                        else
                        {
                            <text>@item.Title</text>
                        }
                    </a>
                </div>

                <div class="col-md-2">
                    Rank: @item.Rank
                </div>

                <div class="col-md-4 text-right">
                    <small>
                        @item.ResponsibleParty.UserName

                        <img src="https://www.gravatar.com/avatar/@Gravatar.GetHash(item.ResponsibleParty.Email)?s=30"/>

                    </small>
                </div>
                </div>

            </li>
        }
    </ul>
</div>

@section Scripts {
    <script>
        var originalItems = [];

        $(document).ready(function () {
            $("#showHideDoneItems").change(showHideDoneItems);
            $("#sortItemsByRank").change(sortItemsByRank);

            // Store original items so that sort order can be restored.
            $("#itemList li[data-rank]").each(function () {
                originalItems.push($(this));
            });
        });

        function showHideDoneItems() {
            if (this.checked == true) {
                $(".list-group-item-done").hide();
            } else {
                $(".list-group-item-done").show();
            }
        }

        function sortItemsByRank() {
            var sortedItems = [];
            if (this.checked == true) {
                // Order items by rank.
                $("#itemList li[data-rank]").each(function () {
                    sortedItems.push($(this));
                });
                sortedItems.sort(compareItems);
                showItems(sortedItems);
            } else {
                // Restore original item order.
                showItems(originalItems);
            }
        }

        function compareItems(item1, item2) {
            // Descending by rank.
            var rank1 = parseInt($(item1).attr("data-rank"));
            var rank2 = parseInt($(item2).attr("data-rank"));
            return rank2 - rank1;
        }

        function showItems(items) {
            // Replace all items except first (the "add new item" <li>).
            $("#itemList").slice(1).remove();
            $("#itemList").append(items);
        }
    </script>
}