@using Todo.Data.Entities
@using Todo.Models.TodoItems
@using Todo.Services
@model TodoItemSummaryViewmodel

@{
    string contextualClass;
    switch (Model.Importance)
    {
        case Importance.High:
            contextualClass = Model.IsDone ? "list-group-item-danger list-group-item-done" : "list-group-item-danger";
            break;
        case Importance.Low:
            contextualClass = Model.IsDone ? "list-group-item-info list-group-item-done" : "list-group-item-info";
            break;
        default:
            contextualClass = Model.IsDone ? "list-group-item-done" : "";
            break;
    }
}

<li class="list-group-item @contextualClass" data-rank="@Model.Rank">
    <div class="row">

        <div class="col-md-6">
            <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@Model.TodoItemId">
                @if (Model.IsDone)
                {
                    <s>@Model.Title</s>
                }
                else
                {
                    <text>@Model.Title</text>
                }
            </a>
        </div>

        <div class="col-md-2">
            Rank: @Model.Rank
        </div>

        <div class="col-md-4 text-right">
            <small>
                @Model.ResponsibleParty.UserName

                <img src="https://www.gravatar.com/avatar/@Gravatar.GetHash(Model.ResponsibleParty.Email)?s=30" />

                <span data-user-hash="@Gravatar.GetHash(Model.ResponsibleParty.Email)"></span>
            </small>
        </div>

    </div>
</li>